<div class="jumbotron">
	<h1>Pagina de superheroes</h1>
</div>

<div class="container">
      <div class="row">
        <div class="col-xs-6 batmanContainer">
        	<%= link_to "Batman", pages_batman_path %>        	
        	<img class="img-responsive" src="http://www.planwallpaper.com/static/images/d8aa4750-deef-44ac-83a1-f2b5e6ee029a.jpg" alt="Batman">
        	
        </div>
        <div class="col-xs-6 supermanContainer">
        	<%= link_to "Batman", pages_superman_path %>  
        	<img class="img-responsive" src="http://wallpapercave.com/wp/ca1byyf.jpg" alt="Superman">        
        </div>
      </div>
</div>