 @import "bootstrap-sprockets";
 @import "bootstrap";

 .letrasBatman{
 	margin-left: 40%;
 	margin-top: 30vh;
 	color: white;
 	font-size: 	80px;
 }


 .letrasSuperMan{
 	margin-left: 20%;
 	margin-top: 30vh;
 	color: yellow;
 	font-size: 	80px;
 }

 .batman{
 	width: 100%;
 	height: 100vh;
 }

 .superman{
 	width: 100%;
 	height: 100vh;
 }